

<div class="login-container">
    <div class="login-wrapper">
        <h1 class="fancy-text white-text">Pizza Palace Ordering Login</h1>

        <form class="login-form" action="/" method="post">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <br/>
            <button type="submit">Login</button>
        </form>

    </div>
</div>

