@import url('https://fonts.googleapis.com/css?family=Lobster');

html, body{
    background: #1d7291;
    background: -moz-linear-gradient(-45deg, #1d7291 0%, #a9cbe5 100%);
    background: -webkit-linear-gradient(-45deg, #1d7291 0%,#a9cbe5 100%);
    background: linear-gradient(135deg, #1d7291 0%,#a9cbe5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d7291', endColorstr='#a9cbe5',GradientType=1 );
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 350px;

    border-radius: 5px;
    background: rgba(60, 60, 60, 0.5);

    transform: translate(-50%, -50%);
}

.login-wrapper {
    text-align: center;
    padding: auto;
}

.login-form > input {
    
    width: 250px;
    height: 40px;

    margin-bottom: 15px;


    background: white;
    border: white solid 4px;

    border-radius: 40px;

    text-align: center;
    transition: ease-in-out 0.4s;
}

.login-form > input:focus {
    
    border-color: lightseagreen;
    width: 280px;
    height: 45px;

    outline: none;

}

.login-form > button {
    margin-bottom: 40px;
    width: 175px;
    height: 40px;

    background: lightskyblue;
    color: white;
    text-transform: capitalize;
    font-family: 'Lobster', cursive;
    font-size: 1.4rem;

    border-radius: 40px;
    border: none;

    outline: none;
    transition: ease-in-out 0.3s;
}

.login-form > button:hover {
    
    width: 200px;
    height: 50px;

}


.main-container {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 700px;

    border-radius: 5px;
    background: rgba(60, 60, 60, 0.5);

    transform: translate(-50%, -50%);
}

.proceed-checkout {
    margin-bottom: 30px;
}
 
.main-wrapper {
    text-align: center;
    padding: auto;
}

.select-table > .table-number {
    display: inline-block;
    
    width: 100px;
    height: 100px;

    font-size: 2.5rem;

    text-align: center;

    margin-bottom: 20px;
}

.select-table > .table-submit {

    margin-bottom: 30px;

}

.pizza-select {

    display: inline-block;
    border: white solid 2px;
    border-radius: 20px;
    margin-left: 20px;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    margin-bottom: 30px;
}
.pizza-select > * {
    margin: auto;
    display: block;
    margin-bottom: 5px;
    text-align: center
}

.pizza-select > input {
    background: white;
    border-radius: 70px;
}

.order-list {

    text-align: center;

    width: 300px;
    background: rgba(60, 60, 60, 0.5);

    border-radius: 20px;
    padding-bottom: 20px;
}

.order-list > .list {
    text-align: left;
    padding-left: 20px;
    margin: auto;
    width: 75%;
    border-left: white solid 2px;
    
}

.fancy-text {
    font-family: 'Lobster', cursive;
}

.white-text {
    color: white;
}



.select-drinks {
    display: inline-block;
    border: white solid 2px;
    border-radius: 20px;
    margin-left: 20px;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    margin-bottom: 30px;
}
.select-drinks > * {
    margin: auto;
    display: block;
    margin-bottom: 5px;
    text-align: center
}




